body{

    background-image: url("../IMAGES/backg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 23cm;
    background-position-y: 65PX;
    
}
#z1{
    background-color:black;
	list-style-type:none;
	background-size:100%;
	padding:0px;
	margin-left: -0.5cm;
	margin-top:10px;
	overflow:hidden;
}
.ab a{
    color:MediumSlateBlue;
	font-size:20px;
	display:block;
	padding:10px 20px;
	text-decoration:none;
}

#z1 li{
    float: left;
}
#z1 li a:hover{
    background-color:#aabbcc;
}
.form{
	margin-left: 14cm;
	font-size: 17px;
}
.textbox{
	width: 7cm;
	height: 1cm;
}
.button{
	width: 2cm;
	height: 1cm;
	background-color: black;
	color: white;
}